*.pyc
.idea/
data/
results/
results_3D/
results_AEGAN/
results_102flowers/
results_AEGAN_acai_cifar_256_deep/
results_AEGAN_acai_latent/
results_AEGAN_acai_latent_normal/
results_AEGAN_sphere_32/
results_celeba/
results_cifar10/
results_loage/
results_loage_3D/
results_lsun/
results_volcano/
runs/
_cache_homemachlearndatalsunbedroombedroomvallmdb
_cache_homemachlearnkeraslsunbedroombedroomvallmdb
latent_3d_points/external/structural_losses/tf_approxmatch_g.cu.o
latent_3d_points/external/structural_losses/tf_nndistance_g.cu.o
datasets/imagenet
datasets/tf_inception_model/inception-2015-12-05.tgz
datasets/tf_inception_model/imagenet_2012_challenge_label_map_proto.pbtxt
datasets/tf_inception_model/imagenet_synset_to_human_label_map.txt
results_mnist/AEGAN_acai_z/fake_samples_epoch_005.png
results_mnist/AEGAN_acai_z/fake_samples_epoch_011.png
results_mnist/AEGAN_acai_z/interpolate_samples_epoch_005.png
results_mnist/AEGAN_acai_z/interpolate_samples_epoch_011.png
results_mnist/AEGAN_acai_z/netD_epoch.pth
results_mnist/AEGAN_acai_z/netd_epoch.pth
results_mnist/AEGAN_acai_z/netE_epoch.pth
results_mnist/AEGAN_acai_z/nete_epoch.pth
results_mnist/AEGAN_acai_z/netG_epoch.pth
results_mnist/AEGAN_acai_z/netg_epoch.pth
results_mnist/AEGAN_acai_z/real_samples.png
results_mnist/AEGAN_acai_z/reconstructions_epoch_005.png
results_mnist/AEGAN_acai_z/reconstructions_epoch_011.png
results_mnist/AEGAN_acai_z/tb/events.out.tfevents.1608110241.public
results_mnist/AEGAN_acai_z/tb/events.out.tfevents.1608110250.public
results_mnist/AEGAN_acai_z/tb/events.out.tfevents.1608116235.public
